@import "tailwindcss";

@theme {
  --color-primary: #556175;
  --color-background: #1e2424;
  --color-secondary: #F6BD60;
  --color-text: #fcfcfc;
  --color-accent: #d0f1a7;
  --color-textDark: #030303;

  /* --color-backgroundDark: #dbe1e1; */
  /* --color-secondaryDark: #774322; */
  /* --color-accentDark: #9789a4; */
}

@layer components {
  .swiper-thumbs .swiper-slide img {
    @apply opacity-60 transition duration-300;
  }

  .swiper-thumbs .swiper-slide.swiper-slide-thumb-active img {
    @apply opacity-100 border-2 border-secondary;
  }
}

body{
  background-image: url('/LogoImg/backGround.avif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #dbe1e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
